In [87]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix

In [88]:
df = pd.read_csv('college_players.csv')
nba = pd.read_csv('nba_players.csv')
eval_set = pd.read_csv('Small_Ten.csv')

In [89]:
nba_names = nba['name'].to_list()

In [90]:
def f(x):
    if x in nba_names:
        return 1
    return 0

def g(x):
    return str(x)

def h(x):
    if x not in ['Guard', 'Forward', 'Center']:
        return 'Unknown'
    return x

def i(x):
    return x.split('\\')[0]

In [91]:
cols = eval_set.iloc[0].to_list()

eval_set = eval_set.drop(0, axis=0)

In [92]:
eval_set.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Class', 'Pos', 'School', 'G', 'MP',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FG%', '2P%', '3P%',
       'FT%', 'PTS.1', 'TRB.1', 'AST.1', 'STL.1', 'BLK.1', 'PER', 'WS', 'BPM'],
      dtype='object')

In [93]:
eval_set['Player'] = eval_set['Player'].apply(i)

eval_names = eval_set['Player'].to_list()

In [109]:
df['nba'] = df['name'].apply(f)
dataset = df.copy()
dataset.head()

,Unnamed: 0,name,height,weight,position,games_played,min_per,field_goal,field_attmps,two_pointer,...,personal_fouls,usg,off_reb,def_reb,total_reb,player_eff,tv_per_game,ws,bpm,nba
0,0,Muhammad-Ali Abdur-Rahkman,6-4,175,Guard,144,0,3.2,7.3,2.1,...,1.7,17.5,2.6,9.8,2.8,14.800,9.5,13.200,4.7,0
1,1,Remy Abell,6-4,195,Guard,139,0,1.8,4.0,1.2,...,1.0,15.3,2.9,7.0,1.5,12.400,14.2,7.300,4.1,0
2,2,Moses Abraham,6-9,252,Unknown,87,0,0.6,1.1,0.6,...,2.2,11.8,11.3,20.2,2.7,8.800,31.2,1.800,-1.2,0
3,3,Kale Abrahamson,6-8,221,Forward,118,0,2.0,5.3,0.9,...,1.4,20.5,3.5,11.7,2.3,11.000,11.1,3.100,-1.0,0
4,4,Lester Abram,6-6,200,Forward,120,0,3.5,7.3,2.6,...,2.6,0.0,0.0,8.2,4.0,0.592,18.2,0.144,0.0,0

In [110]:
dataset[dataset['weight'] == 'Unknown']

,Unnamed: 0,name,height,weight,position,games_played,min_per,field_goal,field_attmps,two_pointer,...,personal_fouls,usg,off_reb,def_reb,total_reb,player_eff,tv_per_game,ws,bpm,nba
551,551,Chase Goldstein,Unknown,Unknown,NaN,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.0,0
605,605,Justin Hamilton,6-6,Unknown,Guard,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.0,1
1328,1328,Mike Santa,Unknown,Unknown,"Huntington, IN",2,0,0.0,0.5,0.0,...,0.5,0.0,0.0,13.0,0.5,0.000,20.7,-0.446,0.0,0
1604,1604,Chris Wardius,Unknown,Unknown,NaN,8,0,0.3,0.4,0.3,...,0.0,0.0,0.0,0.0,0.1,0.633,0.0,0.215,0.0,0
1648,1648,Glenn White,Unknown,Unknown,NaN,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,-0.064,0.0,0

In [111]:
dataset['position'] = dataset['position'].fillna('Unknown')
dataset['position'] = dataset['position'].apply(h)

dataset = dataset.drop(dataset[dataset['weight'] == 'Unknown'].index, axis=0)

In [112]:
height = LabelEncoder()
position = LabelEncoder()

height.fit(dataset['height'])
position.fit(dataset['position'])

LabelEncoder()

In [113]:
dataset['position'] = position.transform(dataset['position'])
dataset['height'] = height.transform(dataset['height'])

In [114]:
set(dataset['position'])

{0, 1, 2, 3}

In [115]:
set(dataset['height'])

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22}

In [116]:
current_draft = eval_set.merge(dataset, left_on='Player', right_on='name')

In [117]:
current_draft.head()

,Unnamed: 0_x,Rk,Player,Class,Pos,School,G,MP,TRB,AST,...,personal_fouls,usg,off_reb,def_reb,total_reb,player_eff,tv_per_game,ws,bpm,nba
0,49,49,Hunter Dickinson,SO,C,Michigan,32,1034,274,73,...,2.6,27.3,9.8,22.1,8.0,27.6,14.0,9.4,9.4,0
1,54,54,Logan Duncomb,FR,C,Indiana,9,20,6,1,...,0.3,20.7,18.0,16.8,0.7,16.1,37.7,0.1,0.2,0
2,57,57,Zach Edey,SO,C,Purdue,37,703,285,44,...,2.1,32.4,18.5,24.8,6.3,36.5,14.6,7.7,10.7,0
3,109,109,Brandon Lieb,SO,C,Illinois,10,24,7,1,...,0.3,24.1,26.7,15.1,0.9,16.1,23.0,0.1,-4.7,0
4,129,129,Riley Mulvey,FR,C,Iowa,17,83,15,2,...,0.7,10.5,5.3,14.7,0.9,9.1,22.3,0.2,-2.7,0

In [118]:
dataset = dataset.drop(['Unnamed: 0', 'name'], axis=1)

In [119]:
X_cols = list(dataset.columns)[:len(dataset.columns) - 2]
y_col = 'nba'

In [120]:
X_cols

['height',
 'weight',
 'position',
 'games_played',
 'min_per',
 'field_goal',
 'field_attmps',
 'two_pointer',
 'two_pct',
 'three_ptrs',
 'three_pct',
 'free_throws',
 'free_pct',
 'assists',
 'steals',
 'blocks',
 'points',
 'personal_fouls',
 'usg',
 'off_reb',
 'def_reb',
 'total_reb',
 'player_eff',
 'tv_per_game',
 'ws']

In [121]:
X_train, X_test, y_train, y_test = train_test_split(dataset[X_cols], dataset[y_col], test_size=0.33, random_state=42)

In [122]:
model = LogisticRegression(max_iter=10000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [123]:
print("model score: %.3f" % model.score(X_test, y_test))

model score: 0.881

In [124]:
y_pred = model.predict(current_draft[X_cols])
del current_draft['nba']
current_draft['nba_pred'] = y_pred

In [36]:
current_draft

In [37]:
small.head()

,Unnamed: 0,Rk,Player,Class,Pos,School,G,MP,TRB,AST,...,3P%,FT%,PTS.1,TRB.1,AST.1,STL.1,BLK.1,PER,WS,BPM
0,4,4,Eduardo Andre\eduardo-andre-1,FR,C,Nebraska,30,345,96,9,...,0.000,0.524,3.1,3.2,0.3,0.6,0.5,12.7,0.5,-1.4
1,49,49,Hunter Dickinson\hunter-dickinson-1,SO,C,Michigan,32,1034,274,73,...,0.328,0.802,18.6,8.6,2.3,0.5,1.5,28.8,5.6,10.7
2,54,54,Logan Duncomb\logan-duncomb-1,FR,C,Indiana,9,20,6,1,...,NaN,1.000,0.7,0.7,0.1,0.1,0.1,16.1,0.1,0.2
3,57,57,Zach Edey\zach-edey-1,SO,C,Purdue,37,703,285,44,...,NaN,0.649,14.4,7.7,1.2,0.2,1.2,40.9,5.4,13.1
4,109,109,Brandon Lieb\brandon-lieb-1,SO,C,Illinois,10,24,7,1,...,NaN,0.000,0.8,0.7,0.1,0.0,0.1,21.9,0.1,3.8

In [71]:
current_draft.columns

Index(['Unnamed: 0_x', 'Rk', 'Player', 'Class', 'Pos', 'School', 'G', 'MP',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FG%', '2P%', '3P%',
       'FT%', 'PTS.1', 'TRB.1', 'AST.1', 'STL.1', 'BLK.1', 'PER', 'WS', 'BPM',
       'Unnamed: 0_y', 'name', 'height', 'weight', 'position', 'games_played',
       'min_per', 'field_goal', 'field_attmps', 'two_pointer', 'two_pct',
       'three_ptrs', 'three_pct', 'free_throws', 'free_pct', 'assists',
       'steals', 'blocks', 'points', 'personal_fouls', 'usg', 'off_reb',
       'def_reb', 'total_reb', 'player_eff', 'tv_per_game', 'ws', 'bpm',
       'nba'],
      dtype='object')

In [40]:
len(small.columns)

27